:root {
  --primary-color: #007BFF;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #343a40;
  --font-primary: 'Arial', sans-serif;
  --font-secondary: 'Georgia', serif;


}

body {
  font-family: var(--font-primary);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}

.autos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.auto-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.auto-card:hover {
  transform: scale(1.05);
}

.auto-card img {
  width: 100%;
}

footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .map {
  margin-top: 20px;
}

@media (max-width: 768px) {
  header {
      flex-direction: column;
      align-items: flex-start;
  }
  nav ul {
      flex-direction: column;
      align-items: flex-start;
  }
}

.contact-info{
  background-color: var(--secondary-color);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-media{
  background-color: var(--secondary-color);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map{
  background-color: var(--secondary-color);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}